.main-h1{
  color: #272626;
  padding-top: 4%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 55px;
    font-weight: bold;
}

.main-p{
     padding-top: 4%;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #333232;
    font-weight: bold;
    text-align: center;
}

.conta{
    display: flex;
    /* padding: 5%; */
    gap: 50px;
    flex-wrap: wrap;
    
}

.conta1{
    width: 40%;
    padding-left: 6%;


}

.con-inf{
    margin-top: 10px;
    background-color:white;
    border-radius: 20px;
    height: 25vh;
    padding-top: 6%;
    box-shadow: 0 4px 12px grey;
    padding-left: 4% ;
    

   .con-info-h2{
        color: rgb(66, 65, 65);
        padding-top: 1%;
        padding-right: 4%;
    }

    .con-info-p{
         font-family:Verdana, Geneva, Tahoma, sans-serif;
         font-size: 17px;
          font-weight:100;
          color: #313030;
          padding-top: 5%;
          padding-right: 5%;
    }

    
}

.con-info{
    margin-top: 20px;
    
    border-radius: 20px;
    height: 40vh;
    padding-top: 2%;
    box-shadow:0 4px 12px grey;
    padding-left: 4% ;

    .con-info-h2{
        color: rgb(66, 65, 65);
        padding-top: 3%;
        /* padding-left: 4%; */
        padding-right: 4%;
    }

   .con-info-p{
         font-family:Verdana, Geneva, Tahoma, sans-serif;
         font-size: 17px;
          font-weight:100;
          color: #313030;
          padding-top: 5%;
          padding-right: 5%;
    }

    .con-info-h6{
         color:#2196f3;
        padding-top: 5%;
        padding-left: 4%;
        padding-right: 5%;
        font-size:15px;
    }
    
}



.conta2{
    
    width: 40%;
    border-radius: 20px;
    height: 67vh;
    padding-top: 2%;
    padding-bottom: 4%;
    box-shadow:0 4px 12px grey;

    .con-info-h{
         color: rgb(66, 65, 65);
        
        padding-left: 4%;
        padding-right: 4%;
    }

    .con-info-h5{
          color: rgb(66, 65, 65);
        padding-top: 3%;
        /* padding-left: 1%; */
        padding-right: 4%;
        font-size: 15px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .con-info-9{
         color: #2196f3;
        padding-top: 2%;
        padding-left: 4%;
        padding-right: 5%;
        font-size:15px;
        padding-bottom: 7%;
    }
}

.grey{
    background-color: rgba(218, 215, 215, 0.884);
    height: 58vh;
    width: 90%;
    border-radius: 10px;
    margin-left: 5%;
    margin-top: 10px;
    padding-bottom: 2%;
}




.icon {
  font-size: 35px;
  color: #2196f3;
  
}

.icono{
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 25px;
  color:#2196f3;
}

.arrow-icon {
  font-size: 18px;
  margin-left: 5px;
  color:#2196f3;
}

@media (max-width:600px){

  .main-h1{
    font-size: 40px;
    padding-top: 30px;
  }
    .conta1{
        width:90%;
       padding-left: 5%;
       
    }

    .icono{
      padding-top: 24px;
    }

    .conta2{
        width:90%;
        height: 68vh;
        margin-left: 5%;

        .con-info-h5{
          color: rgb(66, 65, 65);
        padding-top: 8%;
        }

         .con-info-9{
        
        padding-top: 4%;
        padding-bottom: 2%;
    }
        
    
    }

    .con-inf{
        height:23vh ;
    }

    .con-info{
        height:38vh ;
    }

    .grey{
         height: 54vh;
    }
}





           
