.ul{

    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 50px;

    

    ul{
    
    display: flex;
    justify-content: center;
    gap: 80px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.253);
    padding: 1.5%;
    border-radius: 30px;
    
    }

    li{
       list-style: none;
       font-size: 20px;
    }

   
}

@media(max-width:600px){
    .ul{
         padding-left: 10%;
        padding-right: 10%;


        ul{
            gap: 50px;
            padding: 10px;
        }

        li{
            font-size:18px;
        }
    }
}