.div{
    display: flex;
    justify-content: space-around;
    background-color: blue;
    padding: 20px;
}

.di{
    display: flex;
    gap: 50px;
   
}

.Link{
     color: inherit;
     text-decoration: none;
}

li{
    list-style: none;
}